<%=form_for @author do |form|%>
	<% if @author.errors.any? %>
	    <div id="error_explanation">
	      <h3>
	        Errors
	      </h3>
	      <ul>
	        <% @author.errors.full_messages.each do |msg| %>
	          <li><%= msg %></li>
	        <% end %>
	      </ul>
	    </div>
	 <% end %>
	<p>
		<strong><%= form.label :name%></strong>
		<%= form.text_field :name%><br>
	</p>
	<p>
		<%= form.submit %>
	</p>
<%end%>