<!DOCTYPE html>
<html>
<head>
  <title>Library</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
	<header>	
		<%=render 'layouts/nav_bar'%>
	</header>

	<main class="container">
		<%= yield %>
	</main>

	<footer class="footer">
		<div class="container">
			<span class="text-muted">@Devathon</span>
		</div>
	</footer>
</body>
</html>	
